.add-form {
    display: flex;

}

.add-input {
    flex: 10;
    padding: 5px;
    
}

.submit-btn {
    flex: 1;
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #666;


}